var markup = '<ol id="movielist-releases">';
<% @releases.each do |release| %>
markup += '<li><%= release.released_on.strftime('%m/%d/%Y') %> - ';
markup += '<%= release.movie.title %></li>';
<% end %>
markup += '</ol>';
document.write(markup);
